body {
  font-family: monospace;
  color: white;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(8, 15, 9, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}
.cont {
  width: 1440px;
  padding: 50px 80px;
  margin: 0 auto;
}
li {
  list-style: none;
}
.text {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 20px;
}
.list {
  display: flex;
  gap: 70px;
  flex-wrap: wrap;
}
.title {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  border: 1px solid rgba(2, 4, 5, 0.1);
  border-radius: 8px;
  padding-bottom: 30px;

  background-image: linear-gradient(
    110.1deg,
    rgba(30, 2, 83, 1) 44.2%,
    rgba(198, 55, 160, 1) 138.2%
  );
}
.card:hover {
  transition: all 0.3s linear;
  box-shadow: -5px -5px 30px 5px rgb(255, 0, 0), 5px 5px 30px 5px blue;
}
.card:active {
  transition: all 0.1s linear;
  box-shadow: -5px -5px 30px 5px rgb(255, 0, 191),
    5px 5px 30px 5px rgb(68, 135, 223);
}
.card:focus {
  transition: all 0.1s linear;
  box-shadow: -5px -5px 30px 5px rgb(255, 0, 191),
    5px 5px 30px 5px rgb(68, 135, 223);
  background: linear-gradient(
    270deg,
    rgb(152, 94, 28),
    rgb(17, 61, 232) 47%,
    rgb(191, 51, 51) 96%
  );
}

.img {
  width: 300px;
  border-radius: 8px;
}
.btn {
  margin: 10px;
  padding: 10px 20px;
  width: 120px;
  border-radius: 8px;

  text-decoration: none;
  color: rgb(255, 254, 254);
  background-color: blueviolet;
}
.btn:hover {
  background-image: linear-gradient(
    110.1deg,
    rgb(56, 16, 130) 44.2%,
    rgba(198, 55, 160, 1) 138.2%
  );
  transition: all 0.8s linear;
}
@media only screen and (max-width: 400px) {
  .cont {
    max-width: 300px;
    padding: 50px 40px;
  }
  .text {
    max-width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 20px;
  }
  .list {
    flex-direction: column;
    gap: 80px;
  }
}
